<center>
<body background=https://secure.static.tumblr.com/34abc9b3b86d41562689ae45823a69f2/seqdekl/4uGo9r2v3/tumblr_static_tumblr_static_filename_640.gif><font face = pristina>
<h1><b><font size=65><font color=#be5026>Welcome to</font></font></b></h1>
<img src=http://www.mightycrusaders.net/images/hangman_title_lg.gif>
<b><ul><font color=#b3b3b3><font face = harrington>Please enter your names.</ul></b>
<form action="player_names" method="post">
<font color=grey><h4>Player 1: <input type="text" name="player1"></h4></font>
<div>
<font color=grey><h4>Player 2: <input type="text" name="player2"></font></h4>
<div>
  <input type="submit" value=Submit>
 <div>
<center><img src=https://pldh.net/media/pokemon/gen5/blackwhite_animated_front/384.gif></center>
 </body>
</center>
</form>