<!DOCTYPE html>
<html>
<head>
<link rel="style sheet" type="text/css" href="/css/styles.css"
	<title></title>
</head>
<body background=https://secure.static.tumblr.com/34abc9b3b86d41562689ae45823a69f2/seqdekl/4uGo9r2v3/tumblr_static_tumblr_static_filename_640.gif>

</body>
</html>

<center><h1><font color=transparent>Welcome to Hangman!</font></h1></center>
<%=yield%>