<title>Failure!</title>
<html>
<style>
        body {
            text-align: center;
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("http://orig13.deviantart.net/7e94/f/2011/183/6/f/dark_clouds_by_jukajo-d3kpmfa.gif")
        }
    </style>
<center><h1><font color=#50a168><font face="wide latin">FAILURE!</font></h1></center>
<center><img src="https://pldh.net/media/dreamworld/384.png" height="150" width="150">
<center><h2><font color = #cf5170><font face = impact><%=p2_name%> watched their guesses dwindle away carelessly...</h2></center></font>
<div>
<center><h3><font color = #d6cd67><font face = fantasy><i>(<%=p1_name%>, victory is yours!)</i></font></h3></center>
<div>
<center><h2><font color = white><font face = "colonna mt"><u>The word was "<%=word%>".</u></h2></center></font>
<a href="https://spacehangman.herokuapp.com/">
   <input type="button" value="Play Again" />
</a>
</body>
</html>
