<title>Victory!</title>
<style>
        body {
            text-align: center;
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("https://media4.giphy.com/media/3oD3YmMSyk0jAtvkU8/giphy.gif")
        }
    </style>
<center><h1><font color=#f7dc43><font face=algerian>VICTORY!</font></h1></center>
<center><img src="http://pre11.deviantart.net/fa88/th/pre/i/2012/262/f/7/50_pokemon__6_victini_by_megbeth-d5fakig.png" height="200" width="150">
<center><h2><font color=#e8c566><font face=fantasy><%=p2_name%> pulled through and, with their cleverness, guessed the word!</h2></center>
<center><h3><font color=#fa8841>(Better luck next time, <%=p1_name%>.)</h3></center>
<center><h2><font color=#7accc4><u>The word was "<%=word%>".</u></h2></center>
<a href="https://spacehangman.herokuapp.com/">
   <input type="button" value="Play Again" />
</a>